#ignorando archivos de los worspace
utils/node_modules
utils/dist
utils/yarn.lock
utils/yarn-error.log

accessData/node_modules
accessData/dist
accessData/yarn.lock
accessData/yarn-error.log

api/build
api/node_modules
api/yarn.lock
api/yarn-error.log

businessLogic/node_modules
businessLogic/dist
businessLogic/yarn.lock
businessLogic/yarn-error.log

repository/node_modules
repository/dist
repository/yarn.lock
repository/yarn-error.log

node_modules
.vscode
.env
package-lock.json
yarn.lock
yarn-error.log

